config I2S_SAM0
	bool "Atmel SAM0 MCU family I2S (I2S) Bus Driver"
	default y
	depends on DT_HAS_ATMEL_I2S_SAM0_ENABLED
	select PINCTRL
	select DMA
	help
	  Enable Inter Sound (I2S) bus driver for Atmel SAM0 MCU family based on
	  Synchronous Serial Controller (I2S) module.

config I2S_SAM0_RX_BLOCK_COUNT
	int "RX queue length"
	default 4

config I2S_SAM0_TX_BLOCK_COUNT
	int "TX queue length"
	default 4