CONFIG_SOC_ATMEL_SAMD_OSC8M=y
CONFIG_SOC_ATMEL_SAMD_OSC8M_AS_MAIN=y
CONFIG_SPI=y
CONFIG_GPIO=y

# console configs
CONFIG_CONSOLE=y
CONFIG_SERIAL=y
CONFIG_UART_CONSOLE=y
CONFIG_UART_INTERRUPT_DRIVEN=y

# sound configs
CONFIG_I2S=y
CONFIG_AUDIO=y
CONFIG_I2S_SAM0=y